.card {
  border: solid black;
  height: auto;
  padding: center;
  text-align: center;
  border-radius: 30px;
}

.hr {
  border: 0;
  height: 1px;
  width: 95%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.int {
  margin-top: 10px;
}

.cityList {
  border: solid black;
  height: 100px;
  padding: center;
  text-align: center;
  border-radius: 30px;
  margin-top: 10px;
}

.even {
  background: rgb(218, 216, 216);
  height: 30px;
}
.odd {
  background: rgb(245, 245, 178);
  height: 30px;
}

.remove {
  position: fixed;
  right: 50px;
}
