.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Icon-logo {
  height: 100px;
  width: 100px;
  animation: Icon-logo-spin infinite 20s linear;
  filter: invert(20%) sepia(100%) saturate(50%) hue-rotate(0deg)
    brightness(104%) contrast(100%);
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.Icon-logo:hover {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* @keyframes orbit {
  to {
    stroke-dashoffset: 50px;
  }
}
@keyframes Icon-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.gameArea {
  position: relative;
  width: 100%;
}
.board {
  position: absolute;
  float: left;
  width: 60%;
  background: none;
  left: 30px;
  top: 80px;
  /* margin: -400px; */
}

.box {
  position: relative;
  display: inline-block;
  width: 30%;
  padding-top: 30%;
  background: none;
  margin: 5px;
}

.OX {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
