.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Icon-logo {
  height: 100px;
  width: 100px;
  animation: Icon-logo-spin infinite 20s linear;
  filter: invert(20%) sepia(100%) saturate(50%) hue-rotate(0deg)
    brightness(104%) contrast(100%);
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.Icon-logo:hover {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* @keyframes orbit {
  to {
    stroke-dashoffset: 50px;
  }
}
@keyframes Icon-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.gameArea {
  position: relative;
  width: 100%;
}
.board {
  position: absolute;
  float: left;
  width: 60%;
  background: none;
  left: 30px;
  top: 80px;
  /* margin: -400px; */
}

.box {
  position: relative;
  display: inline-block;
  width: 30%;
  padding-top: 30%;
  background: none;
  margin: 5px;
}

.OX {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.banner {
  background-color: lightskyblue;
  text-align: center;
  height: 5px;
}
.money {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.money2 {
  background-color: #f44336;
}

.remove {
  background-color: #008cba;
}

#int1 {
  width: 385px;
  height: 30px;
  margin-top: 5px;
}

.money4 {
  background-color: yellow;
  width: 385px;
}

.money5 {
  background-color: rgb(89, 84, 95);
}

.left {
  width: 32%;

  float: left;
}

.right {
  width: 65%;

  float: left;
  border-left: solid black;
}

.acc {
  border: solid black;
  border-radius: 10px;
  width: 500px;
  margin: 10px;
}

.container {
  width: 100%;
  height: auto;
  float: left;
  border: solid black;
}

.accountHead {
  width: 95%;
}

.leftInput {
  margin-bottom: 5px;
}
