.btn1, .btn2 {
    
    width: 10%;
    display: inline-block;
    margin-right: -4px;
}
    

.btn, .btn3, .btn4 {
    width: 5%;
    display: inline-block;
    margin-right: -4px;
    
}

#input {
    width: 19.7%
}